<footer>
    <div class="hotale-footer-wrapper">
        <div class="hotale-footer-container hotale-container clearfix">
            <div class="hotale-footer-column hotale-item-pdlr hotale-column-15">
                <div id="block-21" class="widget widget_block widget_media_image hotale-widget"
                    style="display:flex; flex-direction: column; justify-content: center;align-items: center;">
                    <figure class="wp-block-image">
                        <img loading="lazy" width="110" height="27" src="../../assets/logo.webp" alt=""
                            class="wp-image-14995" />
                    </figure>
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title hotale-additional-font class-test"
                        style="font-size: 45px; font-weight: 400; letter-spacing: 0px; text-transform: none; color: #fff;">
                        Korona Gór<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                    </h3>
                </div>
                <div id="block-7" class="widget widget_block widget_text hotale-widget">
                    <p></p>
                </div>

                <div id="block-22" class="widget widget_block widget_text hotale-widget">
                    <p></p>
                </div>

            </div>
            <div class="hotale-footer-column hotale-item-pdlr hotale-column-15">
                <div id="block-10" class="widget widget_block hotale-widget">
                    <h4>Kontakt</h4>
                </div>
                <div id="block-14" class="widget widget_block hotale-widget">
                    <p><span style="color: #ffffff;">T</span>: +48 533 533 5333</p>
                    <p><span class="gdlr-core-space-shortcode" style="margin-top: -10px;"></span></p>
                    <p><span style="color: #ffffff;">E</span>: <a href="#">kontakt@koronagor.pl</a></p>
                    <p><span class="gdlr-core-space-shortcode" style="margin-top: -10px;"></span></p>

                </div>
            </div>
            <div class="hotale-footer-column hotale-item-pdlr hotale-column-15">
                <div id="block-12" class="widget widget_block hotale-widget">
                    <h4>Adres</h4>
                </div>
                <div id="block-15" class="widget widget_block hotale-widget">
                    <p>
                        <span style="color: #ffffff;">
                            Hotelowa 123<br />
                            34-400 Nowy Targ <br />
                            Polska
                        </span>
                    </p>
                </div>
            </div>
            <div class="hotale-footer-column hotale-item-pdlr hotale-column-15">
                <div id="block-18" class="widget widget_block widget_media_image hotale-widget">
                    <div class="wp-block-image">
                        <div id="block-12" class="widget widget_block hotale-widget">
                            <h4>Social Media</h4>
                        </div>
                        <div id="block-8" class="widget widget_block hotale-widget">
                            <p>
                                <span class="gdlr-core-space-shortcode" style="margin-top: -10px;"></span><i
                                    class="fa fa-facebook"
                                    style="font-size: 30px; color: #ffffff; margin-left: 3px; margin-right: 17px;"></i>
                              
                                <i class="fa5b fa-instagram"
                                    style="font-size: 30px; color: #ffffff; margin-left: 3px; margin-right: 17px;"></i>
                                <i class="fa5b fa5-tiktok"
                                    style="font-size: 30px; color: #ffffff; margin-left: 3px; margin-right: 17px;"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="block-20" class="widget widget_block widget_media_image hotale-widget">
                    <div class="wp-block-image">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hotale-copyright-wrapper">
        <div class="hotale-copyright-container hotale-container clearfix">
            <div class="hotale-copyright-left hotale-item-pdlr">
                <div style="text-transform: uppercase; font-weight: 500; font-size: 13px; letter-spacing: 3px;">
                    <a href="index.html" style="margin-right: 22px;">Strona Główna</a>
                    <a href="about-us.html" style="margin-right: 22px;">Rezerwacja</a>
                    <a href="about-us-2.html" style="margin-right: 22px;">Polityka Prywatności</a>
                    <a href="contact.html" style="margin-right: 22px;">Kontakt</a>
                </div>
            </div>
            <div class="hotale-copyright-right hotale-item-pdlr"><span id="footer_year"> </span> ©
                Wykonanie <a href="https://marketingmix.pl" target="_blank">Marketing Mix</a></div>
        </div>
    </div>
</footer>