<div class="gdlr-core-pbf-wrapper">
    <div class="gdlr-core-pbf-background-wrap"></div>
    <div class="gdlr-core-pbf-background-wrap" style="top: 335px;">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
            style="background-image: url(upload/home-resort-news-bg.png); background-repeat: no-repeat; background-position: top center;"
            data-parallax-speed="0"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                id="gdlr-core-column-28">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                    style="padding: 0px 0px 20px 0px;">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js"
                        style="max-width: 700px;">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                style="padding-bottom: 20px;" id="gdlr-core-title-item-6">
                                <div class="gdlr-core-title-item-title-wrap">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title hotale-additional-font class-test"
                                        style="font-size: 80px; font-weight: 400; text-transform: none; color: #000000;">
                                        Zobacz Naszą Mleczarnię <span
                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="gdlr-core-pbf-element">
                            <div
                                class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align">
                                <div class="gdlr-core-text-box-item-content"
                                    style="font-size: 21px; font-weight: 400; text-transform: none; color: #898989;">
                                    <p>Przygotowaliśmy dla Ciebie niezwykłą okazję - wirtualną wizytę w naszej mleczarni. W naszej galerii znajdziesz piękne zdjęcia, które przeniosą Cię do serca naszej produkcji mlecznej. Poznaj nasze urokliwe wnętrza, gdzie tradycja i nowoczesność spotykają się w doskonałym harmonii. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix gdlr-core-gallery-item-style-grid-no-space gdlr-core-item-pdlr"
                                style="padding-bottom: 45px;" id="gdlr-core-gallery-1">
                                <div class="gdlr-core-flexslider flexslider gdlr-core-js-2"
                                    data-type="carousel" data-column="4" data-move="1"
                                    data-nav="navigation-outer" data-nav-parent="self"
                                    data-vcenter-nav="1" data-disable-autoslide="1">
                                    <div class="gdlr-core-flexslider-custom-nav gdlr-core-style-navigation-outer gdlr-core-center-align"
                                        style="margin-top: -25px;">
                                        <i class="icon-arrow-left flex-prev"
                                            style="color: #cccccc; font-size: 34px; left: -70px;"></i>
                                        <i class="icon-arrow-right flex-next"
                                            style="color: #cccccc; font-size: 34px; right: -70px;"></i>
                                    </div>
                                    <ul class="slides">
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1519411792752-25c2468cccb3?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1519411792752-25c2468cccb3?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="shutterstock_1298236804"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1607127368565-0fc09ac36028?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1607127368565-0fc09ac36028?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="jen-p-541467-unsplash"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1566935404705-c22355bfa3ac?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1566935404705-c22355bfa3ac?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="shutterstock_1386982532"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1582227253806-3ff5bf5819ce?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1582227253806-3ff5bf5819ce?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="mutzii-1057982-unsplash"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1642702654379-286db3ee7113?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1642702654379-286db3ee7113?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="shutterstock_789623335"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1631379578550-7038263db699?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1631379578550-7038263db699?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="roberto-nickson-YCW4BEhKluw-unsplas"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div
                                                class="gdlr-core-gallery-list gdlr-core-media-image">
                                                <a class="gdlr-core-lightgallery gdlr-core-js"
                                                    href="https://images.unsplash.com/photo-1599932677968-877d85f64a12?q=80&w=1338&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                    data-lightbox-group="gdlr-core-img-group-1">
                                                    <img src="https://images.unsplash.com/photo-1599932677968-877d85f64a12?q=80&w=1338&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                        alt="" width="600" height="600"
                                                        title="shutterstock_1061669315"
                                                        style="object-fit: cover; min-height:250px;max-height: 250px;" />                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>