<div class="hotale-top-bar">
    <div class="hotale-top-bar-background"></div>
    <div class="hotale-top-bar-container hotale-container">
        <div class="hotale-top-bar-container-inner clearfix">

            <div class="hotale-top-bar-right hotale-item-pdlr"
                style="display: flex; justify-content: center;align-items: center; gap:.6em">

                <i class="icon-phone" style="font-size: 15px; color: #86ae29; margin-right: 5px;"></i><a
                    href="tel:+48535535535">+48 790 777 357</a>
                <i class="icon-envelope"
                    style="font-size: 15px; color: #86ae29; margin-left: 25px; margin-right: 5px;"></i>
                <a href="mailto:kontakt@mp.pl">kontakt@mleczarniapodhalanska.pl</a>
                
            </div>
        </div>
    </div>
</div>