@use './utilities/global';
@use './utilities/mixins';

.gallery {
	&__img {
		object-fit: cover;
		min-height: 150px;
		@include mixins.medium-devices {
			min-height: 150px;
		}
		@include mixins.large-devices {
			min-height: 250px;
		}
		@include mixins.xl-devices {
			min-height: 300px;
		}
		@include mixins.xxl-devices {
			min-height: 500px;
		}
	}
}

.tourmaster-info-wrap.clearfix {
	display: flex;
	flex-direction: column;
}

.cookie-bar {
	position: fixed;
	left: 20px;
	right: 20px;
	bottom: 10px;
	background-color: black;
	color: white;
	z-index: 10000;
	border-radius: 20px;
	text-align: center;
	&__container {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0.5em;
		& p {
			font-size: small;
		}
	}
	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5em;

        & a{
            color:white;
            font-size: small;
            text-decoration: underline;
        }
        & button{
            padding: .3em .6em;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color .6s;
            border:none;
            &:hover{
background-color: #8f8f8f;
            }
        }
	}
}

.hidden{
    display: none;
}